---
layout: default
title: Home
---

<!-- <header class="page-header">
  <div class="container">
    <h1>HOT Summit 2021</h1>
    <h2> 22 November 2021 </h2>
  </div>
</header> -->


<div class="container">
  <div class="highlight-module secondary-highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <h3>JOIN US TO EXPLORE THE EVOLUTION OF LOCAL HUMANITARIAN MAPPING ECOSYSTEMS</h3>

         <br /> <br />

        <div class="highlight-options">
          <a href="https://bit.ly/HOTSummit2021" class="btn btn-primary btn-lg btn-chevron" target="_blank">Register Now</a>
        </div>
      </div>
    </div>
    <div class="highlight-image">
      <img src="https://cdn.hotosm.org/website/summit2021-logo.png">
    </div>
  </div>
</div>

<div class="container">
  <div class="project-module">
    <div class="module-details article">
            
      <p>On 22 November 2021, HOT is hosting its 7th global summit dedicated to humanitarian action and community development through open mapping.

      <p>The summit brings together local and global communities, humanitarian and development agencies, academics, volunteers and contributors, and government and private sector partners to share, explore, and discuss how to leverage OpenStreetMap and open mapping for social impact and change.

      <p>This year, our theme is “The Evolution of Local Humanitarian Open Mapping Ecosystems: Understanding Community, Collaboration, and Contribution”. We are proud to have more than 30 different community representatives and partners joining us to share their work and experiences and engage in discussion on this topic with attendees from around the world. 

      <p>We hope that the HOT Summit 2021 can provide a space for sharing knowledge, building networks, and sparking collaborations, and we look forward to seeing you there.</p>

      <!-- <div class="app-play-store">
        <div class="apple">
          <a href="https://itunes.apple.com/us/app/goosechase/id437330879">
            <img alt="Get it on the App Store" class="img-responsive" src="/images/apple_app_store.png">
          </a>
        </div>
        <div class="google">
          <a href="https://play.google.com/store/apps/details?id=com.goosechaseadventures.goosechase">
            <img alt="Get it on Google Play" class="img-responsive" src="/images/google_play_store.png">
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="home-newsletter">
    <div class="newsletter-signup">
      <h2>Subscribe for updates <br>& announcements</h2>
      {% include newsletter-form.html %}
    </div>
    <div class="newsletter-description">
      {% include newsletter-description.html %}
    </div>
  </div>
</div> -->
