---
layout: default
title: Home
---

<header class="page-header">
  <div class="container">
    <h1>Humanitarian OpenStreetMap Summit</h1>
    <h2> 4 Dec 2020 </h2>
  </div>
</header>


<div class="container">
  <div class="highlight-module secondary-highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <p>The sixth annual Humanitarian OpenStreetMap Summit has gone virtual! We will be holding a one-day event across several time zones on Friday, December 4th in conjunction with the <a href="https://understandrisk.org/">Understanding Risk conference</a>. </p> <br />

        <p>This year's theme is "10 Years of Humanitarian OpenStreetMap: The Past, Present, and Future of Humanitarian Mapping." Calls for proposals has closed, so subscribe below to get updates about the Summit and other HOT updates. </p> <br />
        <div class="highlight-options">
          <a href="https://www.eventbrite.com/e/humanitarian-openstreetmap-summit-2020-tickets-98550604511" class="btn btn-primary btn-lg btn-chevron">Register Now</a>
        </div>
      </div>
    </div>
    <div class="highlight-image">
      <img src="/images/summit-2019-group-photo-crop.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="project-module">
    <div class="module-details article">
      <h4> The first ever HOSM Summit Grant! $5000 available for attendees of the 2020 virtual Summit </h4>
      <p>This year, <a href="https://wiki.openstreetmap.org/w/index.php?title=Humanitarian_OSM_Team/HOT_Microgrants/Humanitarian_OpenStreetMap_Summit_Grant_2020">one grant of $5000 will be available</a> for an OSM community that attends at least one of the <a href="/program">sessions</a> at the summit. This grant is kindly supported by ESRI, and will be awarded to a project that: </p>
<ul><li>focuses on open mapping activities that are directly related to OpenStreetMap (OSM)</li>
<li>contributes to the creation of community-led open map data for humanitarian response, and socio-economic development</li>
<li>fosters conditions that encourage the recruitment, engagement and retention of OSM volunteers or community members</li></ul>
<p>In addition to being provided support, mentoring and training during the grant period, one team member will attend and present their project at the Humanitarian OpenStreetMap Summit 2021 (date and location TBD).</p>

      <!-- <div class="app-play-store">
        <div class="apple">
          <a href="https://itunes.apple.com/us/app/goosechase/id437330879">
            <img alt="Get it on the App Store" class="img-responsive" src="/images/apple_app_store.png">
          </a>
        </div>
        <div class="google">
          <a href="https://play.google.com/store/apps/details?id=com.goosechaseadventures.goosechase">
            <img alt="Get it on Google Play" class="img-responsive" src="/images/google_play_store.png">
          </a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="home-newsletter">
    <div class="newsletter-signup">
      <h2>Subscribe for updates <br>& announcements</h2>
      {% include newsletter-form.html %}
    </div>
    <div class="newsletter-description">
      {% include newsletter-description.html %}
    </div>
  </div>
</div>
