---
layout: default
title: Home
---

<header class="page-header">
  <div class="container">
    <h1>Humanitarian OpenStreetMap Summit</h1>
    <h2> 4 Dec 2020 </h2>
  </div>
</header>


<div class="container">
  <div class="highlight-module secondary-highlight-module">
    <div class="highlight-details">
      <div class="highlight-info">
        <div class="highlight-hr"></div>
        <p>The sixth annual Humanitarian OpenStreetMap Summit has gone virtual! We will be holding a one-day event across several time zones on Friday, December 4th in conjunction with the <a href="https://understandrisk.org/">Understanding Risk conference</a>. </p> <br />

        <p>This year's theme is "10 Years of Humanitarian OpenStreetMap: The Past, Present, and Future of Humanitarian Mapping." Calls for proposals has closed, so subscribe below to get updates about the Summit and other HOT updates. </p> <br />
        <div class="highlight-options">
          <a href="https://www.eventbrite.com/e/humanitarian-openstreetmap-summit-2020-tickets-98550604511" class="btn btn-primary btn-lg btn-chevron">Register Now</a>
        </div>
      </div>
    </div>
    <div class="highlight-image">
      <img src="/images/summit-2019-group-photo-crop.jpg">
    </div>
  </div>
</div>

<div class="container">
  <div class="project-module">
    <div class="module-details">
      <h4> Race to the Summit with GooseChase! </h4>
      <p>Have some fun before and during the Humanitarian OpenStreetMap Summit by downloading the GooseChase app to your phone for a virtual team competition! Search the game code: <strong>KK5DG8</strong>, join a team, and complete online and mapping missions to earn points! The team with the the most points will win a custom HOT swag pack! Game starts Monday, 30 November and will run through the Summit, on Friday, Dec. 4th. Winner announcement to be made via email after 1PM Friday. </p>

      <div class="app-play-store">
        <div class="apple">
          <a href="https://itunes.apple.com/us/app/goosechase/id437330879">
            <img alt="Get it on the App Store" class="img-responsive" src="/images/apple_app_store.png">
          </a>
        </div>
        <div class="google">
          <a href="https://play.google.com/store/apps/details?id=com.goosechaseadventures.goosechase">
            <img alt="Get it on Google Play" class="img-responsive" src="/images/google_play_store.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="home-newsletter">
    <div class="newsletter-signup">
      <h2>Subscribe for updates <br>& announcements</h2>
      {% include newsletter-form.html %}
    </div>
    <div class="newsletter-description">
      {% include newsletter-description.html %}
    </div>
  </div>
</div>
