<footer class="site-footer">
    <div class="footer-logos footer-group" style="visibility: hidden">
        <h3>Thank you to our sponsors:</h3>
    </div>
  <div class="footer-body" style="visibility: hidden">
    <nav class="footer-logos footer-group">
      <div class="nav-group">
          <!-- <h4>Co-Sponsor</h4>
          
               <a class="footer-logo" style="max-width:230px;" href="https://heigit.org/"><img src="{{ "/images/heigit-logo.png" | prepend: site.baseurl }}"></a>
          <br> -->
          <h4>Platinum</h4>
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
        <div class="nav-group">
            <h4>Gold</h4>
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
        </div>
    </nav>
    <nav class="footer-logos footer-group">
        <div class="nav-group">
          <h4>Silver</h4>
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
        </div>
    </nav>
    <nav class="footer-logos footer-group">
        <div class="nav-group">
          <h4>Bronze</h4>
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
      </div>
    </nav>
    <nav class="footer-logos footer-group">
      <div class="nav-group">
          <h4>Supporters</h4>
          <br />
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
          <a class="footer-logo" href="/sponsorship/"><img src="{{ "/images/your-logo-here.png" | prepend: site.baseurl }}"></a>
        
      </div>
    </nav>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community. Learn more about <a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</p>
      <img src="{{ "/images/hot-logo-icon-white.svg" | prepend: site.baseurl }}">
    </div>
  </div>
</footer>

{% include scripts.html %}
